* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(26, 32, 56);
  color: rgb(26, 32, 56);;
}

/* -----SIDENAC STYLING----- */
.sNav {
  background-color: rgb(34, 42, 69);
  padding: 1.5rem 5rem;
  padding-left: 0.6rem;
  width: 100%;
  position: sticky;
  top: 0;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  color: white;
  padding-bottom: 0.4rem;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 3s linear;
}
.Snav{
  animation: slideFromTop 1s linear;
}
/* @keyframes slideFromTop {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
} */
h1 {
  font-size: 1.8rem;
}
.h1 {
  font-size: 1.5rem;
}
nav {
  font-size: 0.9rem;
}
nav ul,
h1 {
  padding-left: 0.6rem;
}
nav ul {
  padding-left: 1rem;
}
nav ul li,
.li {
  color: white;
  text-decoration: none;
  list-style-type: none;
  margin: 1rem 0;
  padding: 0.6rem 0;
  line-height: 1.5;
  text-transform: none;
  white-space: normal;
  font-size: 0.9rem;
  font-weight: 600;
}
.dm {
  position: relative !important;
  transform: none !important;
  background-color: transparent !important;
  border: none !important;
  color: white !important;
  font-size: 0.8rem !important;
  padding-left: 0.8rem;
}
.br {
  font-size: 0.7rem;
  color: rgb(197, 197, 194);
}
i {
  padding-right: 1rem;
  font-size: 0.8rem;
}

#style-1::-webkit-scrollbar-track {
  box-shadow: 0 0 6px rgba(248, 247, 247, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(248, 247, 247, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(248, 247, 247, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(248, 247, 247, 0.3);
  background-color: #555;
}

/* ------DASHBOARD STYLING--------- */

.D-header {
  padding: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.icn1 i,
.icn2 i {
  font-size: 1.2rem;
}
.sectD {
  /* margin-left: 15.5rem; */
  background-color: rgb(250, 250, 250);
  width: 100%;
  /* padding-bottom: 10rem; */
}
.sectD h5 {
  height: fit-content;
  margin: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.cards {
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}
.card {
  padding: 0.5rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 0.6rem;
  width: 35%;
  margin: .8rem;
}
.txt {
  display: flex;
  flex-direction: column;
}
.txt h1 {
  font-size: 1.65rem;
}
.txt p {
  font-size: 0.7rem;
}

/* ----MAIN AREA CHART STYLING */
.char {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* ----DASHBOARD LOWER SECTION STYLING----- */
.genStats {
  display: flex;
  justify-content: space-around;
  margin: 2rem 1rem;
  align-items: center;
}
.reviews {
  display: flex;
  flex-direction: column;
}
.mc {
  margin: 1rem 0;
  background-color: white;
  padding: 0.5rem;
}
.rade {
  padding: 2rem 0.8rem;
  margin: 0 0.8rem;
}

/* ----DASHBOARD BOXES STYLING----- */
.gS{
  font-size: .9rem;
}
.boxx {
  display: flex;
  flex-direction: row;
}
.boxxIn {
  background-color: white;
  padding: 2rem 2.3rem;
  margin: 0.8rem 0.4rem;
  text-align: center;
  width: 80%;
}

/* data-bs-toggle="collapse"
 data-bs-target="#collapseWidthExample"
 aria-expanded="false"
 aria-controls="collapseWidthExample" */
.admin {
  padding: 2rem;
  padding-bottom: 4rem;
}
.driver {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.tIcon {
  display: flex;
}
.table {
  background-color: #f8f8fa;
  border-radius: 1rem;
}
td,
th {
  padding: 1rem !important;
}
.addi {
  background-color: #f5365c;
  color: white;
  font-size: 0.7rem;
  padding: 0.3rem 0.3rem;
  box-shadow: 0 3px 5px rgb(0 0 0 / 50%);
  border-radius: 5px;
  margin: 0 0.3rem;
  height: fit-content;
}
input {
  border-radius: 1rem;
  border: 0.6px solid;
}
input::placeholder {
  padding: 0.5rem;
}

.del {
  font-size: 0.8rem;
  color: white;
  width: fit-content;
  padding: 0.1rem 0.5rem;
}
.appHome {
  display: flex;
  transition: ease-in-out 2s;
 animation: slideFromTop 1s linear;
}
/* @keyframes slideFromTop {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
} */

/* ------ Sign up page styling---------- */
.signCtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.signCt {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  margin: 10rem 20rem;
}
.signCtn1 {
  padding: 2.9rem;
  padding-bottom: 6.8rem;
}
.signCtn2 {
  padding: 2rem;
  padding-top: 3rem;
}
.signCtn2 input {
  padding: 0 2rem;
  border: none;
  border-bottom: 1px solid rgb(34, 42, 69);
}
.signCtn1 h1,
p {
  font-size: 1.2rem;
}
.signCt h1 {
  text-align: center;
  font-size: 2rem;
}

.btn {
  text-align: center;
  justify-content: center;
  margin: 1rem;
  background-color: rgb(19, 102, 170);
  color: white;
}
form {
  margin-left: 0.2rem;
  background-color: white;
}
